body {
    font-family: 'Times New Roman';
    text-align: center;
    margin-top: 70px;
}

.box {
    background-color: #AA0000;
    padding: 20px;
    color: white;
    display: inline-block;
}

.box .information {
    top: 0;
    font-size: 50px;
    color: white;
    margin: 0; 
}

.box .system {
    font-size: 55px;
    color: black;
    margin: 0; 
}